Repository Mondotosz/Web-Observation, pull requests merged in 2021-03, with the labels that each got.

#29 Added basic post deletion functionality
  src/controller/post.php
  src/index.php
  src/model/postsManager.php
Labels: controller, model

#36 prevent xss on posts
  src/model/postsManager.php
  src/model/usersManager.php
Labels: Security

#40 Fixed search issues
  src/controller/trending.php
Labels: bug

#73 #68 added placeholder when no post available
  src/view/content/icons/deer.svg
  src/view/trending.php
Labels: enhancement, view

#72 Post deletion confirmation #62
  src/controller/post.php
  src/index.php
  src/view/content/components/html/modal-confirm-delete.html
  src/view/js/helpers.js
  src/view/js/postDeletion.js
  src/view/post.php
Labels: Security, controller, enhancement

#81 #60 better post layout
  src/view/post.php
Labels: view

#80 #34 order by
  src/controller/trending.php
  src/view/js/filterPost.js
Labels: enhancement

#78 Added toast module
  src/view/content/components/html/toast-template.html
  src/view/content/icons/img.svg
  src/view/content/icons/info.svg
  src/view/content/icons/warn.svg
  src/view/js/toast.js
Labels: enhancement

#84 #70 Added function to remove unused files
  src/controller/post.php
  src/controller/trending.php
  src/model/imagesManager.php
Labels: controller, enhancement, model

#83 #54 Updated post creation/edition layout
  src/view/createPost.php
  src/view/editPost.php
  src/view/js/createPost.js
  src/view/js/editPost.js
  src/view/post.php
Labels: enhancement, view

#89 Phpmailer
  .gitignore
  doc/logBook/logBookBFA.xlsx
  src/composer.json
  src/composer.lock
  src/controller/mail.php
  src/controller/nav.php
  src/index.php
  src/model/sendmail.php
  src/view/contact.php
  src/view/content/icons/emailBlack.svg
  src/view/post.php
Labels: controller, enhancement, model, view
